extends layout

block content
  h1 MD DB
  p.lead Patient Panel
  hr
  .row
    .col-sm-6
      h2 Alerts
      .panel.alert.alert-danger
        p Alerts are here
  .row
    .col-sm-6
      h2 Patient Records
      .panel
        .panel-body
          p Patient list here
  .row
    .col-sm-3
      h3 Add new patient
      form
        p Patient ID:
          span
            input(type="text", name="id")
        p Name:
          span
            input(type="text", name="name")
        p Date of Birth:
          input(type="text", name="dob")
        input(type="submit", value="Submit")
