extends layout

block content
  h1 MD DB
  p.lead Patient Panel
  hr
  .row
    .col-sm-6
      h2 Alerts
      .panel.alert.alert-danger
        p Alerts are here
  .row
    .col-sm-6
      h2 Patient Records
      .panel
        .panel-body
          p Patient list here