extends layout

block content
  .row
    .col-sm-14
      .landing
        .container
          p.headStyle.paddingTop Welcome to Mommy Monitor Portal.
          p.mainStyle
           | Your SMS portal for tracking the health of expecting and new mothers, remotely. 
          p
          p.mainStyle
           | Thank you for keeping our mothers and children healthy. 
          p
          a.btn.btn-primary.btn-lg(role='button',href='/login') Login